@use "./mixins" as *;
@use "./variables" as *;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colour-body;
}

.game {
    margin: 1em;
    padding: 1em;
    color: $colour-font-primary;
    border-radius: 10px;
    background-color: $colour-background-primary;
    &__card {
        border: 1px solid $colour-background-primary;
    }&__img-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include verticalPadding();
        
    }&__main--img {
        width: 70%;
        @include verticalPadding();
    }&__main--div {
        @include verticalPadding();
        height: 12px;
        width: 70%;
        margin: 1vh;
        background-color: $colour-background-secondary;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include horizontalPadding();
    }&__main--form {
         @include verticalPadding();
    }&__main--guess-heading {
        font-family: $secondary-font;
        font-size: 12px;
        padding-right: 2px;
    }&__main--correct-heading {
        font-family: $secondary-font;
        font-size: 12px;
    }&__main--continent-heading {
        font-family: $secondary-font;
        font-size: 12px;
        @include horizontalPadding();
    }&__main--coordinates-subheading {
         font-family: $secondary-font;
        font-size: 12px;
        @include horizontalPadding();
    }
}

@media screen and (min-width: 580px) {
  /* ipad and laptop screen */ 
  .game {
    max-width: 60%;
  }
}

@media screen and (min-width: 880px) {
  /* ipad and laptop screen */ 
  .game {
    max-width: 40%;
  }
}