.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  font-family: arial;
  color: #5D3A3A;
  border: 1px solid #5D3A3A;
  background-color: #B5E0BA;
}
.game__card {
  width: 70%;
}
.game__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.game__main--img {
  width: 70%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.game__main--div {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 12px;
  width: 70%;
  margin: 1vh;
  background-color: #F7FFBD;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;
}
.game__main--form {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.game__main--h2 {
  font-size: 12px;
  padding-right: 2px;
}
.game__main--h3 {
  font-size: 12px;
}
.game__main--h4 {
  font-size: 12px;
  padding-left: 2vh;
  padding-right: 2vh;
}