@use "./mixins" as *;
@use "./variables" as *;

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    font-family: $primary-font;
    color: $colour-font-primary;
    border: 1px solid $colour-font-primary;
    background-color: $colour-background-primary;
    &__card {
    width: 70%;
    }&__img-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include verticalPadding();
        
    }&__main--img {
        width: 70%;
        @include verticalPadding();
    }&__main--div {
        @include verticalPadding();
        height: 12px;
        width: 70%;
        margin: 1vh;
        background-color: $colour-background-secondary;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include horizontalPadding();
    }&__main--form {
         @include verticalPadding();
    }&__main--h2 {
        font-size: 12px;
        padding-right: 2px;
    }&__main--h3 {
        font-size: 12px;
    }&__main--h4 {
        font-size: 12px;
        @include horizontalPadding();
    }

}
