@use "./mixins" as *;
@use "./variables" as *;

.game__main--form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.country-form {
    &__input {
        width: 70%;
        padding: 8px;
        font-family: $secondary-font;
        
    }
    &__button {
        margin-top: 1vh;
        width: 70%;
        background-color: $colour-button;
        color: $colour-font-secondary;
        padding: 8px;
        border: 1px solid $colour-font-primary;
        font-family: $secondary-font;
    }
}