@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//--FONT
$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'JetBrains Mono', monospace;
$heading-font: 'Bebas Neue', cursive;

$colour-background-primary:  #b8c1ec ;
$colour-background-secondary: #fffffe;

$colour-font-primary: #121629;
$colour-font-secondary: #232946;

$colour-body: #232946;
$colour-button: #eebbc3;