@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

$primary-font:'Yeseva One', cursive;

$colour-background-primary: #B5E0BA;
$colour-background-secondary: #F7FFBD;

$colour-font-primary: #5D3A3A;
$colour-font-secondary: #905858;

